html {
  font-family: "Noto Sans JP", "Roboto", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.englich-text {
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* --------------- */

.fv {
  height: 2180px;
}

.bg_img {
  background-image: url("../img/pc/25_スキルリレー_design@2x\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  padding-top: 40px;
}

.logo_content_flex {
  background-color: #fff;
  width: clamp(1px, 92.2916vw, 1772px);
  height: 80px;
  margin: 0px auto 63px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
}

.logo_img {
  margin-left: 48px;
}

.logo_img_sp.hidden {
  display: none;
}

.button_img {
  margin-right: 32px;
  width: 262px;
  height: 66px;
  margin-top: 5px;
}

.sub_title_content {
  border: solid 1px #fff;
  border-radius: 4px;
  width: 880px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 153, 220, 0.1);
  margin-bottom: 40px;
}

.sub_title_text {
  font-size: 24px;
  font-weight: bold;
}

.catchphrase_img_content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.catchphrase_img.hidden {
  display: none;
}

.intai_text_content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.intai_text {
  font-size: 20px;
  font-weight: 500;
}

.button_content_flex {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 80px;
}

.dl_button_content a {
  position: relative;
}

.dl_button_bgimg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/pc/Rectangle\ 4.png");
  background-repeat: no-repeat;
  background-position: center;
  gap: 12px;
  background-size: contain;
  width: 400px;
  height: 60px;
}

.dl_text {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.icon_img {
  width: 26px;
  height: 26px;
}

.icon_img_sp.hidden {
  display: none;
}

.rectangle_img {
  width: 400px;
  height: 60px;
}

.donu_button_rectangle {
  border: solid 1px #171e2b;
  border-radius: 4px;
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.donu_text {
  font-size: 20px;
  font-weight: bold;
  color: #171e2b;
}

.chat_img_content {
  display: flex;
  justify-content: center;
  margin-bottom: 124px;
}

.chat_img.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
}

.button_content_flex_sp.hidden {
  display: none;
}

.section_text_content {
  width: 1300px;
}

.blue_rectangle_content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 26px;
}

.blue_rectangle {
  width: 10px;
  height: 10px;
  background-color: #0192e2;
}

.blue_rectangle p {
  font-size: 18px;
  font-weight: 600;
}

.blue_rectangle_text,
.blue_rectangle_text.black {
  font-size: 18px;
  font-weight: 600;
}

.usinaware_text_content p {
  font-size: 40px;
  font-weight: 900;
}

.usinaware_text_content {
  margin-bottom: 23px;
}

.beteran_text_content {
  margin-bottom: 64px;
}

.beteran_text_content p,
.content_text.how {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2px;
}

.beteran_text_content span {
  display: none;
}

.box_content_flex {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 152px;
}

.white_box {
  background-color: #fff;
  width: 410px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.white_box img {
  margin-top: 33px;
  margin-bottom: 30px;
}

.white_box p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.white_box span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  width: 362px;
}

.white_box img,
.white_box p,
.white_box span {
  margin-left: 24px;
}

.blue_rectangle_text.white {
  color: #fff;
}

.usinaware_text_content.solution {
  margin-bottom: 22px;
}

.usinaware_text_content.solution p {
  color: #fff;
}

.sono_text.hidden,
.skill_text.hidden {
  display: none;
}

.beteran_text_content.solution p {
  color: #fff;
}

.zokujin_text_sp.hidden {
  display: none;
}

.earth_img_sp.hidden {
  display: none;
}

/* ************* SOLUTION セクション ******************** */
.solution_section {
  background-image: url("../img/pc/Mask\ group\ \(3\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1022px;
}

.center_content {
  width: 1300px;
  margin: 0 auto;
}

.blue_rectangle_content.solution {
  padding-top: 122px;
  margin-bottom: 28px;
}

.rectangle_solution_contents_flex {
  display: flex;
  width: 1300px;
  margin: 0 auto;
  /* background-color: #0192e2; */
}

.rectangle_solution_flex {
  border: solid 1px #fff;
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
  height: 154px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 22px;
}

.rectangle_solution_text_content p,
.rectangle_solution_text_content span {
  color: #fff;
}

.rectangle_solution_text_content p {
  font-size: 22px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 11px;
}

.rectangle_solution_text_content span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  width: 458px;
}

.earth_content_block {
  margin-left: 116px;
}

.earth_bg_img {
  background-image: url("../img/pc/25_スキルリレー_design@2x\ 4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 511px;
  height: 510px;
}

.fukidashi_bg_img {
  background-image: url("../img/pc/Union.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;
}

.fukidashi_content {
  padding-top: 102px;
  padding-left: 320px;
}

.fukidashi_bg_img p {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  width: 174px;
  text-align: center;
  line-height: 28px;
  margin-left: 16px;
}

.fukidashi_bg_img.two p {
  width: 140px;
}

.fukidashi_bg_img.three p {
  width: 180px;
}

/*  */
.damy {
  width: 2000px;
  background-color: aqua;
}
/*  */

/* ************* HOW section ************** */
.how_section {
  background-color: #f9f9f9;
  padding-top: 120px;
  padding-bottom: 96px;
}

.title_content_flex {
  display: flex;
  justify-content: center;
}

.title_content_box {
  width: 1300px;
}

.blue_rectangle.how {
  margin-top: 2px;
}

.blue_rectangle_text.black {
  letter-spacing: 0px;
}

.usinaware_text_content.how {
  margin-bottom: 61px;
}

.usinaware_text_content.how p {
  margin-bottom: 23px;
}

.usinaware_text_content.how p.title_sp {
  display: none;
}

.usinaware_text_content.how span {
  display: block;
  font-size: 24px;
  font-weight: 500;
}

.usinaware_text_content.how span:first-of-type {
  margin-bottom: 5px;
}

.how_rectangle_flex_center {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.how_rectangle_content_flex {
  width: 1300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white_rectangle_content img {
  margin-top: 4px;
  margin-bottom: 12px;
}

.white_rectangle_img_sp {
  display: none;
}

.white_rectangle_content p {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 25px;
}

.white_rectangle_content span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
}

.white_rectangle_text {
  width: 640px;
}

.white_rectangle_img img {
  margin-left: 60px;
  margin-top: 9px;
}

.white_rectangle_text.three {
  width: 645px;
}

@media screen and (max-width: 1360px) {
  .catchphrase_img {
    width: 1000px;
    height: auto;
  }

  .section_text_content {
    width: 1000px;
  }

  .white_box {
    width: 300px;
    height: auto;
  }

  .white_box span {
    width: 260px;
    margin-bottom: 24px;
  }

  .center_content {
    width: 910px;
  }

  .blue_rectangle_content.solution {
    padding-top: 70px;
  }

  .rectangle_solution_contents_flex {
    width: 1000px;
  }

  .rectangle_solution_flex {
    width: 420px;
  }

  .rectangle_solution_text_content span {
    width: 300px;
  }

  .earth_content_block {
    margin-left: 0px;
  }

  .earth_bg_img {
    height: 400px;
    margin-top: 40px;
  }

  .fukidashi_content {
    padding-top: 40px;
  }

  .fukidashi_bg_img {
    width: 230px;
  }

  .fukidashi_bg_img p {
    margin-left: 0px;
    font-size: 16px;
    width: 130px;
  }

  /* ********* HOW section ********* */
  .title_content_box {
    width: 950px;
  }

  .how_rectangle_content_flex {
    width: 1000px;
  }

  .white_rectangle_text,
  .white_rectangle_text.three {
    width: 380px;
  }
}

@media screen and (max-width: 1040px) {
  .sub_title_content {
    width: 500px;
    height: auto;
    padding: 10px;
  }

  .sub_title_text {
    text-align: center;
    width: 420px;
  }

  .catchphrase_img {
    width: 800px;
    height: auto;
  }

  .intai_text {
    width: 500px;
    text-align: center;
  }

  .dl_button_bgimg {
    width: 300px;
  }

  .dl_text {
    font-size: 16px;
  }

  .donu_button_content {
    display: flex;
    align-items: center;
  }

  .donu_text {
    font-size: 16px;
  }

  .donu_button_rectangle {
    width: 300px;
    height: 46px;
  }

  .chat_img_content img {
    width: 720px;
    height: auto;
  }

  .section_text_content {
    width: 710px;
  }

  .white_box {
    width: 220px;
  }

  .white_box span {
    font-size: 16px;
    width: 170px;
  }

  .center_content {
    width: 755px;
  }

  .blue_rectangle_content.solution {
    padding-top: 100px;
  }

  .rectangle_solution_contents_flex {
    width: 710px;
  }

  .rectangle_solution_flex {
    width: 310px;
    height: 130px;
    gap: 10px;
  }

  .check_img_content img {
    width: 40px;
    height: auto;
  }

  .rectangle_solution_text_content span {
    width: 240px;
  }

  .rectangle_solution_text_content p {
    font-size: 20px;
  }

  .rectangle_solution_text_content span {
    font-size: 16px;
  }

  .earth_content_block {
    margin-left: -50px;
  }

  .earth_bg_img {
    height: 360px;
    margin-top: 36px;
  }

  .fukidashi_content {
    padding-left: 280px;
  }

  .fukidashi_bg_img {
    width: 190px;
  }

  .fukidashi_bg_img p {
    font-size: 14px;
    line-height: 18px;
    width: 120px;
  }

  .fukidashi_bg_img.two p {
    width: 110px;
  }

  .fukidashi_bg_img.three p {
    width: 120px;
  }

  /* ********* HOW section ************ */
  .title_content_box {
    width: 750px;
  }

  .how_rectangle_content_flex {
    width: 760px;
  }

  .white_rectangle_content p {
    font-size: 28px;
  }

  .white_rectangle_content span {
    font-size: 18px;
  }

  .white_rectangle_text,
  .white_rectangle_text.three {
    width: 280px;
  }

  .white_rectangle_img img {
    width: 400px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 850px) {
  .fv {
    height: 2750px;
  }

  .bg_img {
    padding-top: 0px;
  }

  .logo_content_flex {
    width: auto;
    border: none;
    border-radius: 0px;
  }

  .button_img {
    display: none;
  }

  .sub_title_content {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }

  .sub_title_text {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .catchphrase_img {
    display: none;
  }

  .catchphrase_img.hidden {
    display: block;
    width: 700px;
  }

  .intai_text {
    font-size: 22px;
    text-align: left;
    width: 540px;
  }

  .button_content_flex {
    flex-flow: column;
    align-items: center;
  }

  .dl_button_bgimg {
    background-image: url("../img/sp/Rectangle\ 4\ \(1\).png");
    width: 400px;
  }

  .dl_text,
  .donu_text {
    font-size: 22px;
  }

  .donu_button_rectangle {
    width: 400px;
    height: 54px;
  }

  .chat_img_content {
    margin-bottom: 0px;
  }

  .chat_img_content img {
    display: none;
  }

  .chat_img.hidden {
    display: block;
  }

  .button_content_flex_sp.hidden {
    background-image: url("../img/sp/Rectangle\ 80.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: -30px;
    position: relative;
    z-index: 99;
  }

  .bg_blue_button {
    background-image: url("../img/sp/Rectangle\ 78.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg_blue_button p,
  .box_button p {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }

  .bg_blue_button p {
    width: 210px;
    text-align: center;
  }

  .box_button {
    border: solid 1px #171e2b;
    background-color: #fff;
    width: 300px;
    height: 78px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .box_button p {
    color: #171e2b;
  }

  .flex {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 10%,
      rgba(249, 249, 249, 1) 100%
    );
  }

  .section_text_content,
  .title_content_box {
    width: 510px;
  }

  .blue_rectangle {
    width: 14px;
    height: 14px;
  }

  .blue_rectangle_text {
    font-size: 18px;
    font-weight: 600;
  }

  .usinaware_text_content p {
    width: 540px;
  }

  .box_content_flex {
    background-color: #f9f9f9;
    flex-flow: column;
    align-items: center;
    padding-bottom: 130px;
  }

  .white_box {
    width: 520px;
    height: auto;
  }

  .white_box img {
    width: auto;
    height: auto;
    margin-bottom: 16px;
  }

  .white_box p {
    font-size: 24px;
  }

  .white_box span {
    font-size: 22px;
    width: auto;
    margin-right: 24px;
  }

  /* ******* sulution セクション ******** */
  .solution_section {
    height: 1530px;
  }

  .solution_flex_sp {
    display: flex;
    justify-content: center;
  }

  .center_content {
    width: 540px;
  }

  .usinaware_text_content.solution p {
    display: none;
  }

  .sono_text.hidden,
  .skill_text.hidden {
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
  }

  .skill_text.hidden {
    margin-left: -20px;
  }

  .beteran_text_content {
    margin-bottom: 30px;
  }

  .beteran_text_content.solution p {
    display: none;
  }

  .zokujin_text_sp.hidden {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    width: 520px;
  }

  .earth_img_sp.hidden {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  .earth_img_sp.hidden img {
    width: 500px;
    height: auto;
  }

  .rectangle_solution_contents_flex {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 565px;
  }

  .rectangle_solution_flex {
    width: 530px;
    height: 165px;
    gap: 25px;
  }

  .earth_content_block {
    display: none;
  }

  .check_img_content img {
    width: 50px;
    height: 50px;
  }

  .rectangle_solution_text_content p {
    font-size: 26px;
  }

  .rectangle_solution_text_content span {
    font-size: 22px;
    width: 416px;
  }

  /* ********** HOW section ************ */

  .usinaware_text_content.how p {
    display: none;
  }

  .usinaware_text_content.how p.title_sp {
    display: block;
  }

  .usinaware_text_content.how p.title_sp:nth-of-type(3) {
    width: 440px;
  }

  .how_rectangle_content_flex {
    flex-flow: column;
    height: 690px;
    width: 540px;
  }

  .white_rectangle_img_sp {
    display: block;
    margin: 0 auto 10px auto;
    width: 500px;
  }

  .white_rectangle_content p {
    margin-bottom: 40px;
  }

  .white_rectangle_content span {
    display: block;
    margin-top: 26px;
  }

  .white_rectangle_text {
    width: 420px;
  }

  .white_rectangle_img {
    display: none;
  }

  .white_rectangle_text.three {
    width: 415px;
  }
}

@media screen and (max-width: 750px) {
  .fv {
    height: 2640px;
  }

  .catchphrase_img.hidden {
    width: 600px;
  }

  .chat_img.hidden {
    width: 600px;
  }

  .section_text_content {
    width: 550px;
  }
}

@media screen and (max-width: 650px) {
  .fv {
    height: 2600px;
  }

  .catchphrase_img.hidden {
    width: 550px;
  }

  .chat_img.hidden {
    width: 500px;
  }

  .bg_blue_button,
  .box_button {
    width: 200px;
  }

  .bg_blue_button p {
    font-size: 18px;
    width: 170px;
  }

  .box_button p {
    font-size: 18px;
  }

  .button_content_flex_sp.hidden {
    margin-top: -20px;
    gap: 10px;
  }

  .flex {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section_text_content {
    width: auto;
  }

  .box_content_flex {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
  }

  .white_box {
    width: auto;
  }
}

@media screen and (max-width: 580px) {
  .fv {
    height: 2400px;
  }

  .sub_title_text {
    font-size: 18px;
    width: 320px;
  }

  .catchphrase_img.hidden {
    width: 450px;
  }

  .intai_text_content {
    padding-left: 60px;
    padding-right: 60px;
  }

  .intai_text {
    font-size: 18px;
    width: auto;
  }

  .chat_img.hidden {
    width: 450px;
  }

  .blue_rectangle_text {
    font-size: 18px;
  }

  .usinaware_text_content p,
  .sono_text.hidden,
  .skill_text.hidden {
    font-size: 30px;
  }

  .usinaware_text_content p {
    width: 410px;
  }

  .beteran_text_content p,
  .zokujin_text_sp.hidden {
    font-size: 20px;
  }

  .beteran_text_content p {
    display: none;
  }

  .beteran_text_content span {
    display: block;
    font-size: 20px;
    font-weight: 500;
    width: 335px;
  }

  .white_box {
    width: 430px;
  }

  .white_box p,
  .rectangle_solution_text_content p {
    font-size: 24px;
  }

  .white_box span,
  .rectangle_solution_text_content span {
    font-size: 18px;
  }

  /* ************ solution section ************** */
  .solution_section {
    height: 1380px;
  }

  .center_content {
    width: 400px;
  }

  .zokujin_text_sp.hidden {
    width: 430px;
  }

  .earth_img_sp.hidden img {
    width: 370px;
  }

  .rectangle_solution_contents_flex {
    width: 440px;
  }

  .rectangle_solution_flex.one,
  .rectangle_solution_flex.three {
    width: 406px;
    gap: 16px;
  }

  .rectangle_solution_flex.two {
    padding-left: 16px;
    width: 400px;
    gap: 16px;
  }

  .check_img_content img {
    width: 40px;
    height: 40px;
  }

  .rectangle_solution_text_content span {
    width: 330px;
  }

  .rectangle_solution_text_content .tisiki_text {
    width: 342px;
  }

  /*  ********** HOW section ************* */
  .how_section {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .title_content_box {
    width: 400px;
  }

  .usinaware_text_content.how p {
    margin-bottom: 0px;
  }

  .usinaware_text_content.how span {
    font-size: 24px;
  }

  .usinaware_text_content.how p.title_sp:nth-of-type(3) {
    width: 350px;
    margin-bottom: 20px;
  }

  .how_rectangle_content_flex {
    height: 620px;
    width: 450px;
  }

  .white_rectangle_img_sp {
    width: 360px;
  }
}

@media screen and (max-width: 500px) {
  .fv {
    height: 1950px;
  }

  .logo_content_flex {
    margin-bottom: 24px;
  }

  .sub_title_content {
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .sub_title_text {
    font-size: 16px;
    width: 280px;
  }

  .catchphrase_img_content {
    margin-bottom: 34px;
  }

  .catchphrase_img.hidden {
    width: 350px;
  }

  .intai_text_content {
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intai_text {
    font-size: 14px;
    width: 340px;
  }

  .dl_button_bgimg {
    width: 343px;
    height: 50px;
  }

  .button_content_flex {
    margin-bottom: 50px;
  }

  .dl_text,
  .donu_text {
    font-size: 16px;
  }

  .donu_button_rectangle {
    width: 341px;
    height: 48px;
  }

  .bg_blue_button {
    width: 172px;
    height: 40px;
  }

  .bg_blue_button p,
  .box_button p {
    font-size: 12px;
  }

  .box_button {
    width: 172px;
    height: 38px;
  }

  .blue_rectangle {
    width: 8px;
    height: 8px;
  }

  .blue_rectangle_text {
    font-size: 14px;
  }

  .chat_img.hidden {
    width: 343px;
  }

  .usinaware_text_content p,
  .sono_text.hidden,
  .skill_text.hidden {
    font-size: 24px;
  }

  .usinaware_text_content p {
    width: 316px;
  }

  .beteran_text_content {
    margin-bottom: 30px;
  }

  .beteran_text_content p,
  .zokujin_text_sp.hidden {
    font-size: 16px;
  }

  .beteran_text_content span {
    font-size: 16px;
  }

  .box_content_flex {
    padding-left: 30px;
    padding-right: 30px;
  }

  .white_box {
    width: 350px;
  }

  .white_box img {
    width: 46px;
    height: 46px;
  }

  .white_box p {
    font-size: 16px;
  }

  .white_box span,
  .rectangle_solution_text_content span {
    font-size: 14px;
  }

  /* ********* suluion section ************ */
  .solution_section {
    height: 1027px;
  }

  .center_content {
    width: 350px;
  }

  .blue_rectangle_content.solution {
    padding-top: 60px;
    margin-bottom: 14px;
  }

  .beteran_text_content.solution {
    margin-bottom: 14px;
  }

  .zokujin_text_sp.hidden {
    width: 340px;
  }

  .earth_img_sp.hidden img {
    width: 343px;
  }

  .rectangle_solution_contents_flex {
    width: 362px;
  }

  .rectangle_solution_flex.one,
  .rectangle_solution_flex.three {
    width: 330px;
    gap: 16px;
  }

  .check_img_content img {
    width: 32px;
    height: 32px;
  }

  .rectangle_solution_flex {
    height: 112px;
  }

  .rectangle_solution_flex.two {
    width: 326px;
  }

  .rectangle_solution_text_content p {
    font-size: 18px;
  }

  .rectangle_solution_text_content span {
    width: 252px;
  }

  .rectangle_solution_text_content .tisiki_text {
    width: 270px;
  }

  /* *********** HOW section ************** */
  .how_section {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .blue_rectangle_text.black {
    font-size: 14px;
    font-weight: 500;
  }

  .title_content_box {
    width: 350px;
  }

  .usinaware_text_content.how span {
    font-size: 16px;
    font-weight: 500;
  }

  .usinaware_text_content.how p.title_sp:nth-of-type(3) {
    width: 280px;
  }

  .white_rectangle_content img:first-of-type {
    width: 64px;
    height: auto;
  }

  .usinaware_text_content.how span {
    display: inline;
  }

  .how_rectangle_content_flex {
    width: 343px;
    height: 480px;
  }

  .white_rectangle_content p {
    font-size: 20px;
    font-weight: 900;
  }

  .white_rectangle_content span {
    font-size: 14px;
    font-weight: 500;
  }

  .white_rectangle_content img:first-of-type {
    margin-left: 10px;
  }

  .white_rectangle_content p {
    margin-left: 10px;
  }

  .white_rectangle_img_sp {
    width: 311px;
  }

  .white_rectangle_text {
    width: 329px;
  }

  .white_rectangle_content span {
    line-height: 22px;
  }

  .white_rectangle_text.three {
    width: 325px;
  }
}

@media screen and (max-width: 375px) {
  .fv {
    height: 1714px;
  }

  .bg_img {
    background-image: url("../img/sp/25_スキルリレー_design@3x\ 2.png");
    height: 580px;
  }

  .logo_content_flex {
    height: 60px;
  }

  .logo_img {
    display: none;
  }

  .logo_img_sp.hidden {
    display: block;
    margin-left: 16px;
  }

  .sub_title_content {
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 18px;
  }

  .sub_title_text {
    padding: 0px;
  }

  .catchphrase_img_content {
    margin-bottom: 28px;
  }

  .catchphrase_img.hidden {
    width: auto;
    height: 145px;
  }

  .intai_text_content {
    margin-bottom: 35px;
  }

  .button_content_flex {
    gap: 16px;
    margin-bottom: 48px;
  }

  .icon_img {
    display: none;
  }

  .icon_img_sp.hidden {
    display: block;
  }

  .button_content_flex_sp.hidden {
    margin-top: -16px;
    padding-top: 12px;
  }

  .flex {
    padding-left: 7px;
    padding-right: 16px;
  }

  .blue_rectangle_content {
    margin-bottom: 11px;
  }

  .blue_rectangle_text {
    letter-spacing: 0px;
    margin-top: -4px;
  }

  .usinaware_text_content {
    padding-right: 10px;
    margin-bottom: 22px;
  }

  .beteran_text_content {
    margin-bottom: 35px;
  }

  .beteran_text_content span {
    line-height: 26px;
  }

  .box_content_flex {
    padding-left: 16px;
    padding-right: 16px;
    gap: 18px;
    padding-bottom: 52px;
  }

  .white_box {
    width: 345px;
  }

  .white_box img,
  .white_box p,
  .white_box span {
    margin-left: 16px;
  }

  .white_box img {
    margin-top: 15px;
  }

  .white_box span {
    margin-right: 8px;
  }

  /* ********* solution section ********* */

  .center_content {
    width: 346px;
  }

  .blue_rectangle_text.white {
    letter-spacing: 0px;
  }

  .sono_text.hidden {
    margin-bottom: -3px;
  }

  .skill_text.hidden {
    margin-left: -10px;
  }

  .kaiketu_text {
    margin-left: -12px;
  }

  .zokujin_text_sp.hidden {
    line-height: 27px;
  }

  .beteran_text_content.solution {
    margin-bottom: 34px;
  }

  .earth_img_sp.hidden {
    margin-bottom: 28px;
  }

  .check_img_content {
    margin-top: 2px;
    margin-left: -12px;
  }

  .rectangle_solution_flex.one,
  .rectangle_solution_flex.three {
    width: 320px;
  }

  .rectangle_solution_flex.one,
  .rectangle_solution_flex.three {
    height: 110px;
    margin-left: 0px;
    gap: none;
  }

  .rectangle_solution_flex.one {
    margin-bottom: 11px;
  }

  .rectangle_solution_text_content p.one {
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .rectangle_solution_text_content span.one {
    margin-left: 1px;
  }

  .rectangle_solution_flex.two {
    width: 314px;
    margin-left: 0px;
    margin-bottom: 11px;
  }

  .check_img_content.two {
    margin-left: 5px;
  }

  .rectangle_solution_text_content.two {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .rectangle_solution_text_content .tisiki_text {
    letter-spacing: -0.4px;
  }

  .rectangle_solution_text_content.three p {
    margin-top: 0px;
    margin-bottom: 9px;
  }

  .rectangle_solution_text_content.three span {
    letter-spacing: -0.5px;
  }

  /* ********* HOW section *********** */
  .title_content_box {
    width: 343px;
  }

  .white_rectangle_content img:first-of-type {
    margin-left: 13px;
  }

  .usinaware_text_content.how p.title_sp:nth-of-type(3) {
    margin-bottom: 21px;
  }

  .usinaware_text_content.how {
    padding-right: 0px;
    margin-bottom: 33px;
  }

  .usinaware_text_content.how span {
    line-height: 27px;
    letter-spacing: -0.1px;
  }

  .how_rectangle_flex_center {
    margin-bottom: 21px;
  }

  .how_rectangle_content_flex {
    justify-content: start;
    height: 414px;
  }

  .white_rectangle_content img {
    margin-top: 15px;
    margin-bottom: 9px;
  }

  .white_rectangle_content p {
    margin-bottom: 26px;
    margin-left: 13px;
  }

  .white_rectangle_content span {
    line-height: 21px;
    margin-left: 10px;
  }
}
